﻿@page
@model IndexModel
@{
    ViewData["Title"] = Model.Data?.Title;
}

<div class="text-center">
    <h1 class="display-4">Welcome, @Model.Data?.WelcomeName</h1>
    <h2>App version : @Model.Data?.Version</h2>
    <p>Learn about <a href="https://docs.microsoft.com/aspnet/core">building Web apps with ASP.NET Core</a>.</p>
</div>
